{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}
{% block title %}Registrierung - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <p class="border-pink rounded-corners background-grey p-2">{% blocktrans %}Hast du bereits einen Account?<br>
        Dann logge dich bitte <a href="{{ login_url }}">hier</a> ein.{% endblocktrans %}</p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <input type="hidden" name="csrfmiddlewaretoken"
          value="BBUZLivMNq2I06MJ2XsnyXIZgLEDbxeS5eKaQRD1vq7nNnORYKSFTnUD0OBKSKig">
          {% csrf_token %}
        <p>
          <label for="id_username">Benutzername:</label>
          <input type="text" name="username" placeholder="Benutzername" autocomplete="username" minlength="1"
            maxlength="150" required="" id="id_username" class="form-control">
        </p>

        <p>
          <label for="id_password1">Passwort:</label>
          <input type="password" name="password1" placeholder="Passwort" autocomplete="new-password" required=""
            id="id_password1" class="form-control">
          <span class="helptext"></span>
        </p>

        <p>
          <label for="id_password2">Passwort (Wiederholung):</label>
          <input type="password" name="password2" placeholder="Passwort (Wiederholung)" autocomplete="new-password" required=""
            id="id_password2" class="form-control">
        </p>
        <br>

        <ul class="list-group list-group-flush rounded-corners border-pink">
          <li class="list-group-item">Dein Passwort darf deinen anderen persönlichen Informationen nicht zu sehr ähneln.</li>
          <li class="list-group-item">Dein Passwort muss mindestens 8 Zeichen haben.</li>
          <li class="list-group-item">Dein Passwort kann kein Passwort sein, das leicht zu erraten ist.</li>
          <li class="list-group-item">Dein Passwort kann nicht einzig aus Zahlen bestehen.</li>
        </ul>
        <br>

        <button type="submit" form="signup_form" class="btn btn-purple border-dark">{% trans "Sign Up" %} &raquo;</button>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" class="form-control" value="{{ redirect_field_value }}" />
        {% endif %}

      </form>

    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>


{% endblock content %}