{% extends "base.html" %}

{% block title %}Über Uns - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Über Uns</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
                <img src="../../static/images/persons/anna-barth.jpg" alt="Profilbild, das Anna Barth zeigt."
                    class="img-thumbnail rounded-circle profile-pictures">
            </p>
        </div>
        <div class="col-sm d-flex align-items-center">
            <p>
                Wir, Anna und Jonathan mit unseren beiden Kindern, leben im Haus nebenan und sind für Euch
                Ansprechpartner*innen. Anna ist Künstlerin und sehr aktiv in der Region. Jonathan kennt sich bestens mit
                energetisch sinnvollen Baumaßnahmen aus. Für ein Gespräch am Feuer ist es selten zu spät…
            </p>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="../../static/images/persons/friedel-barth.jpg" alt="Profilbild, das Friedel Barth zeigt."
                class="img-thumbnail rounded-circle profile-pictures">
        </div>
        <div class="col-sm col-sm d-flex align-items-center pt-2">
            <p>
                Ich bin Friedel Barth, Lehrerin, Hypnose- und Stimmcoachin. Meine Erlebnisse in Schloßkulm haben mich
                mein
                Leben lang begleitet. Wachsen, Zurückziehen, Loslassen und Verbinden - heute freue ich mich immer noch
                Teil
                dieses Ortes sein zu können und bin gespannt, welchen Persönlichkeiten und Erfahrungen mir als Hostin
                und
                Coachin noch begegnen werden.
            </p>
        </div>
    </div>
</div>

{% endblock %}