{% extends "base.html" %}

{% block title %}About Us - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>About Us</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
                <img src="../../static/images/persons/anna-barth.jpg" alt="Profile picture showing Anna Barth."
                    class="img-thumbnail rounded-circle profile-pictures">
            </p>
        </div>
        <div class="col-sm d-flex align-items-center">
            <p>
                We - Anna, Jonathan and our two kids - live in the house next door and will be your hosts.
                Anna is an artist and very active in the region. Jonathan has a lot of knowledge about the most energy efficient
                construction works. He is always up for a chat next to the bonfire...
            </p>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="../../static/images/persons/friedel-barth.jpg" alt="Profile picture showing Friedel Barth."
                class="img-thumbnail rounded-circle profile-pictures">
        </div>
        <div class="col-sm col-sm d-flex align-items-center pt-2">
            <p>
                I am Friedel Barth, teacher, hypnosis- and vocal coach. My experiences in Schloßkulm
                have accompanied me my whole life. Retreating, letting go and connecting - today I am still happy
                to be part of this village and am excited which personalities I will meet and which experiences I will have as 
                host and coach.
            </p>
        </div>
    </div>
</div>

{% endblock %}