{% extends "base.html" %}

{% block title %}Allgemeine Geschäftsbedingungen - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Allgemeine Geschäftsbedingungen<br>über die Anmietung einer Ferienunterkunft</h1>

<h3 class="fw-bold">FERIENUNTERKUNFT / VERMIETER</h3>
<p>
    Grundstücksgemeinschaft<br>
    Anna Barth und Friedel Barth<br>
    Schloßkulm 9a<br>
    07407 Uhlstädt-Kirchhasel<br>
    <br>
    Für die Nutzung der oben genannten Ferienunterkunft gelten die folgenden allgemeinen Geschäftsbedingungen:
</p>

<h3 class="m-3 fw-bold">1. GELTUNGSBEREICH</h3>

<p>Die allgemeinen Geschäftsbedingungen gelten für die mietweise Überlassung der Ferienunterkunft zur Beherbergung sowie
    alle für den Gast erbrachten weiteren Leistungen des Vermieters.</p>

<h3 class="m-3 fw-bold">2. BUCHUNG</h3>

<p>Die Buchung der Ferienunterkunft kommt durch die Buchungsbestätigung zustande, welche dem Gast im Anschluss an die
    Online-Buchung übermittelt wird. Mit Erhalt der Buchungsbestätigung ist die Buchung somit rechtskräftig. Mit der
    Buchung
    werden außerdem die vorliegenden allgemeinen Geschäftsbedingungen sowie die Hausordnung, welche dem Gast im Vorfeld
    zugänglich gemacht wurden, akzeptiert.</p>

<h3 class="m-3 fw-bold">3. AUFENTHALT</h3>

<p>Die Ferienunterkunft inklusive Inventar und die zum Haus gehörenden Einrichtungen sind vom Gast pfleglich zu
    behandeln.
    Die Reinigung der Ferienunterkunft ist während der Mietzeit vom Gast selbst vorzunehmen. Der Gast hat außerdem
    darauf zu
    achten, dass beim Verlassen der Wohnung die Fenster geschlossen, die Lichter ausgeschaltet und die elektrische
    Heizung
    des Warmwasserspeichers ausgestellt sind.<br><br>

    Die Nutzung der Ferienunterkunft ist den bei der Buchung angegebenen Gästen vorbehalten. Sollten die
    Ferienunterkunft
    mehr Personen als vereinbart nutzen, ist für diese ein gesondertes Entgelt in Höhe von 14 Euro pro Person zu zahlen.
    Eine Untervermietung und Überlassung der Ferienunterkunft an Dritte ist nicht erlaubt.<br><br>

    Während des Aufenthaltes gilt die dem Gast zur Kenntnisnahme zugesendete Hausordnung. Bei Verstößen gegen die AGB
    oder
    die Hausordnung ist der Vermieter berechtigt, das Mietverhältnis sofort und fristlos zu kündigen. Ein Rechtsanspruch
    auf
    eine anteilige Rückzahlung oder eine Entschädigung besteht nicht.</p>

<h3 class="m-3 fw-bold">4. ZAHLUNG</h3>

<p>Der Gast ist verpflichtet, die für die Überlassung der Ferienunterkunft und die von ihm in Anspruch genommenen
    weiteren
    Leistungen geltenden Preise des Vermieters zu zahlen.<br><br>
    Es wird eine <span class="fw-bold">Anzahlung in Höhe von 10 % der Gesamtsumme innerhalb von 2 Tagen nach Erhalt der
        Rechnung</span> fällig. Der
    Restbetrag ist bis spätestens 1 Tag vor Anreise zu zahlen. Beide Zahlungen sind auf das Konto des Vermieters zu
    überweisen.<br><br>
    Bei kurzfristigen Buchungen ist der Gesamtpreis innerhalb von 2 Tagen nach der Buchungsbestätigung zu überweisen.
    Im Falle eines Zahlungsverzuges erhält der Gast eine Zahlungserinnerung. Erfolgt daraufhin wiederum keine Zahlung,
    werden Mahnungen mit einer Mahngebühr von jeweils 10 Euro an den Gast versendet.</p>

<h3 class="m-3 fw-bold">5. RÜCKTRITT</h3>

<p>Der Gast hat bei frühzeitiger Stornierung ein kostenfreies Rücktrittsrecht. Bei einem kurzfristigen Rücktritt ist der
    Gast verpflichtet, einen Teil des vereinbarten Preises als Entschädigung zu zahlen. Die Höhe der Entschädigung
    richtet
    sich nach der folgenden Aufstellung:<br><br>

    <span class="fw-bold">Rücktritt bis</span><br>
    3 Tage vor Mietbeginn: kostenfreie Stornierung möglich<br>
    2-1 Tage vor Mietbeginn: 50 % des Mietpreises<br>
    Mietbeginn: 90 % des Mietpreises<br><br>

    Ein Rücktritt hat zudem schriftlich zu erfolgen.<br><br>

    Der Vermieter kann die gebuchte Leistung ohne Angabe von Gründen bis 3 Tage vor Anreise stornieren. Bereits
    geleistete
    Zahlungen werden dem Gast dann in voller Höhe zurückerstattet. Auch eine spätere Aufhebung des Vertrags ist im
    Falle
    von höherer Gewalt oder anderer unvorhersehbarer Umstände, die den gebuchten Aufenthalt unmöglich machen, zulässig.
    In
    diesem Fall beschränkt sich die Haftung auf die Rückerstattung des Mietpreises. Bei berechtigtem Rücktritt entsteht
    kein
    Anspruch des Gastes auf Schadensersatz. Eine Haftung für Reise- und Hotelkosten ist ebenfalls ausgeschlossen.</p>

<h3 class="m-3 fw-bold">6. HAFTUNG</h3>

<p>Der Vermieter haftet im Rahmen der Sorgfaltspflicht für die ordentliche Bereitstellung des Mietobjekts. Eine Haftung
    für
    eventuelle Ausfälle bzw. Störungen in Wasser- oder Stromversorgung sowie Ereignisse und Folgen durch höhere Gewalt
    sind
    ausgeschlossen. Auch für den Verlust von Gegenständen oder Diebstahl im Haus oder auf dem Grundstück wird vom
    Vermieter
    keine Haftung übernommen.<br><br>

    Für vom Gast verursachte Schäden, die mutwillig oder fahrlässig herbeigeführt wurden, haftet der Gast. Auch die An-
    und
    Abreise erfolgt in eigener Verantwortung und Haftung des Gastes.</p>

<h3 class="m-3 fw-bold">7. SCHRIFTFORM</h3>

<p>Änderungen und Ergänzungen dieser allgemeinen Geschäftsbedingungen bedürfen der Schriftform. Dies gilt auch für die
    Änderung dieser Schriftformklausel. Es wurden außerdem keine mündlichen Absprachen getroffen.</p>

<h3 class="m-3 fw-bold">8. SALVATORISCHE KLAUSEL</h3>

<p>Sollten einzelne Bestimmungen dieser allgemeinen Geschäftsbedingungen unwirksam oder undurchführbar sein oder nach
    der
    Kenntnisnahme unwirksam oder undurchführbar werden, so wird dadurch die Wirksamkeit der Allgemeinen
    Geschäftsbedingungen
    im Übrigen nicht berührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und
    durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzungen möglichst nahekommen, welche die
    Parteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt haben.</p>

{% endblock %}