{% extends "base.html" %}

{% block title %}Alle Buchungen - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <ul class="list-group-flush rounded-corners">
        <li class="list-group-item">
          <div class="styling-messages alert alert-{{ message.tags }}">{{ message }}</div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<br>

{% endfor %}
{% endif %}

<h1>Alle Buchungen</h1>

{% if user.is_authenticated and user.is_superuser %}
{% for booking in object_list %}

<div class="card mx-auto card-style">
    <div class="card-body">
        <h2 class="card-title">Buchungsnummer {{booking.id}}</h2><br>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            <b>Buchungsdatum:</b><br>{{booking.booking_date}}<br><br>
            <b>Status:</b> {{booking.booking_status}}<br><br>
        </h6>
        <p class="card-text">
            <b>Name:</b><br>
            {{booking.first_name}} {{booking.last_name}}<br>
            <b>Adresse:</b><br>
            {{booking.address}}<br>
            {{booking.zip_code}} {{booking.city}}<br>
            {{booking.country}}<br><br>
            <b>Telefonnummer:</b> {{booking.phone_number}}<br>
            <b>E-Mail:</b> {{booking.email}}<br>
            <b>Staatsangehörigkeit:</b> {{booking.nationality}}<br>
            <b>Passnummer:</b> {{booking.passport_number}}<br><br>
            <b>Ankunftsdatum:</b> {{booking.arrival_date}}<br>
            <b>Abreisedatum:</b> {{booking.departure_date}}<br>
            <b>{{booking.booking_status}}:</b> {{booking.booking_item}}<br>
            <b>Anzahl Gäst*innen:</b> {{booking.amount_guests}}<br>
            <b>Tiere:</b> {{booking.animals}}<br><br>
            <b>Deine Nachricht:</b><br>
            {{booking.message}}<br>
        </p>

        {% if booking.booking_status == "Angefragt" %}
        <!--Confirm Button-->
        {% include "confirm-modal.html" %}
        <!--Cancel Button-->
        {% include "cancel-modal.html" %}
        <!--Delete Button-->
        {% include "delete-modal.html" %}

        {% elif booking.booking_status == "Bestätigt" %}
        <!--Cancel Button-->
        {% include "cancel-modal.html" %}
        <!--Delete Button-->
        {% include "delete-modal.html" %}

        {% elif booking.booking_status == "Storniert" %}
        <!--Delete Button-->
        {% include "delete-modal.html" %}
        {% endif %}
    </div>
</div>
<br>

{% endfor %}

{% else %}

{% include "not-authorized-modal.html" %}

{% endif %}

{% endblock %}