{% extends "base.html" %}

{% block title %}Anfahrt - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1 class="margin-top-bottom">Anfahrt</h1>

<div class="container">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-sm">
            <p class="px-4">
                Auf dem Berg zwischen Obstwiesen und Mischwäldern zwischen Saalfeld und Rudolstadt liegt das kleine Dorf
                Schloßkulm.
                Es gibt zwar kein Schloss mehr, aber 14 Fachwerkhäuser und ein zentrales Backhaus. Ca. 50
                Einwohner*innen beleben
                diesen Ort und bewirtschaften die umliegenden Ländereien. Die Anbindung nach Erfurt, Jena, Weimar und in
                den
                Thüringer Wald ist sehr gut und führt durch traumhafte Landschaften.<br><br>
            </p>
        </div>
        <div class="col-sm width-50">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20220.743169999932!2d11.360846058726858!3d50.69038125790348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a3fdeb7b812231%3A0xa208ec40a0bff40!2s07407%20Uhlst%C3%A4dt-Kirchhasel-Schlo%C3%9Fkulm!5e0!3m2!1sde!2sde!4v1715950976772!5m2!1sde!2sde"
                style="border:0;"
                title="Embedded Google Map that shows the village of Schloßkulm and its surroundings."
                allowfullscreen="" width="400" height="300" class="iframe-size w-100 size-iframe" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="margin-top-bottom">Verkehrsmittel</h2>
            <p class="px-4">
                Wer mit dem Fahrrad anreisen möchte, benötigt durchaus trainierte Beine oder viel Geduld beim Schieben…
                Öffentlicher Nahverkehr ist auf eine Schulbuslinie beschränkt und leider nicht zu empfehlen.<br><br>
            </p>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Einkaufen</h2>
            <p class="px-4">
                Im Dorf gibt es keinerlei Geschäfte! Eier können auf Anfrage selbst im Dorf geholt werden.
                Die nächsten Lebensmittelgeschäfte gibt es in Rudolstadt (auch Bioladen)/Saalfeld (auch
                teegut)/Etzelbach
                (Hofladen).
            </p>
        </div>
    </div>
</div>

{% endblock %}