{% extends "base.html" %}

{% block title %}Day Trips - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>Day Trips</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="margin-top-bottom">Activities</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.outdooractive.com/de/route/wanderung/thueringer-wald/marienturm-kulmberghaus-preilipperkuppe/152155150/"
                        target="_blank" class="link-style"
                        aria-label="Hiking route recommendation for Kulmberg mountain area (opens in a new tab).">
                        Hiking: Kulmberg (Mountain)</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.outdooractive.com/de/route/wanderung/thueringer-wald/marienturm-kulmberghaus-preilipperkuppe/152155150/"
                        target="_blank" class="link-style"
                        aria-label="Hiking route recommendation for Preilipper Kuppe mountain area (opens in a new tab).">
                        Hiking: Preilipper Kuppe (Mountain)</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saalemaxx.de" target="_blank" class="link-style"
                        aria-label="Link to swimming bath Saalemax homepage (opens in a new tab).">Bath
                        Saalemax</a></li>
                <li class="list-group-item list-background">
                    <a href="https://theater-rudolstadt.de/" target="_blank" class="link-style"
                        aria-label="Link to the theater in Rudolstadt (opens in a new tab).">Theater
                        Rudolstadt</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saalfeld-kultur.de/" target="_blank" class="link-style"
                        aria-label="Link to the cultural center Meininger Hof (opens in a new tab).">Meininger
                        Hof Saalfeld</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.bz-saalfeld.de/sozialeprojekte/jupp/jugendzentrum/" target="_blank"
                        class="link-style"
                        aria-label="Link to Orangerie Saalfeld, a cultural meeting & learning place (opens in a new tab).">
                        Orangerie Saalfeld</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.instagram.com/haus.doeschnitz/" target="_blank" class="link-style"
                        aria-label="Haus Döschnitz Instagram page (opens in a new tab).">Haus Döschnitz</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saaleradweg.de/" target="_blank" class="link-style"
                        aria-label="Link to information about Saaleradwanderweg (cycling route) (opens in a new tab).">
                        Saaleradwanderweg (Cycling Route)</a></li>
                <li class="list-group-item list-background">
                    <a href="" target="_blank" class="link-style" aria-label="(opens in a new tab)."></a>Picking
                    Mushrooms in
                    Autumn</li>
                <li class="list-group-item list-background">
                    <a href="https://www.thueringen.info/floessen-auf-der-saale.html" target="_blank" class="link-style"
                        aria-label="Contact to book a timber rafting cruise trip (opens in a new tab).">
                        Timber Rafting</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.haflinger-in-meura.de/urlaub-und-freizeit/pony-spaziergang/" target="_blank"
                        class="link-style" aria-label="Link to a canoe rental place (opens in a new tab).">Horse
                        Riding</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.kanuverleih-rudolstadt.de" target="_blank" class="link-style"
                        aria-label="Link to a canoe rental place (opens in a new tab).">Canoeing</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Places of Interest</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.heidecksburg.de/" target="_blank" class="link-style"
                        aria-label="Link to Heidecksburg homepage - a castle that hosts a culture & arts museum (opens in a new tab).">Heidecksburg</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://www.schloss-schwarzburg.com/" target="_blank" class="link-style"
                        aria-label="Link to Schloss Schwarzburg - a baroque palace hosting a history & architecture museum  (opens in a new tab).">Schwarzburg</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://schillerhaus.rudolstadt.de/" target="_blank" class="link-style"
                        aria-label="Link to Schillerhaus homepage in Rudolstadt - a building that is dedicated to Friedrich Schiller and hosts a literary museum (opens in a new tab).">Schillerhaus</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://kulturnaturhof.de/" target="_blank" class="link-style"
                        aria-label="Kultur Natur Hof Bechstedt homepage (opens in a new tab).">Kulturhof Bechstedt</a>
                </li>
            </ul>
            <h2 class="margin-top-bottom">Miscellaneous</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.google.de/maps/place/Blassenberg+-+Orchideengebiet/@50.770755,11.2612045,11z/data=!4m6!3m5!1s0x47a3ffde563fa505:0x1aa6ce5814faad80!8m2!3d50.7803042!4d11.3501734!16s%2Fg%2F11rm_84mld?entry=ttu"
                        target="_blank" class="link-style"
                        aria-label="Google Map Location for Blassenberg Orchid Area (opens in a new tab).">Blassenberg -
                        Orchideengebiet
                        (Orchid Area)</a>
                </li>
                <li class="list-group-item list-background list-background">
                    <a href="https://www.uhlstaedt-kirchhasel.de/tourismus/" target="_blank" class="link-style"
                        aria-label="Link to municipality Uhlstädt-Kirchhasel homepage with tourism recommendations (opens in a new tab).">Municipality
                        Uhlstädt-Kirchhasel</a>
                </li>
            </ul>
            <h2 class="margin-top-bottom">Eating Out</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.kulmberghaus.de/" target="_blank" class="link-style"
                        aria-label="Link to Kulmberghaus homepage - a hotel and restaurant close to Saalfeld surrounded by forest (opens in a new tab).">Kulmberghaus
                        Beer Garden & Restaurant</a></li>
                <li class="list-group-item list-background">
                    <a href="https://hotel-marienturm.de/" target="_blank" class="link-style"
                        aria-label="Link to Marienturm hotel and restaurant (opens in a new tab).">Marienturm
                        Restaurant</a></li>
                <li class="list-group-item list-background">
                    <a href="https://mitbrotundseele.de/" target="_blank" class="link-style"
                        aria-label="Link to restaurant & bakery 'Mit Brot und Seele' in Rudolstadt (opens in a new tab).">Mit
                        Brot & Seele Café and Bar</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.cafeamkunstufer.de/" target="_blank" class="link-style"
                        aria-label="Link to café homepage with traditional Thuringian food and homebaked goods (opens in a new tab).">Kunsthof
                        Remschütz</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}