{% extends "base.html" %}

{% block title %}Tagesausflüge - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Tagesausflüge</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="margin-top-bottom">Aktivitäten</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.outdooractive.com/de/route/wanderung/thueringer-wald/marienturm-kulmberghaus-preilipperkuppe/152155150/"
                        target="_blank" class="link-style"
                        aria-label="Wanderrouten Empfehlung für den Kulmberg (öffnet sich in einem neuen Fenster).">
                        Kulmberg</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.outdooractive.com/de/route/wanderung/thueringer-wald/marienturm-kulmberghaus-preilipperkuppe/152155150/"
                        target="_blank" class="link-style"
                        aria-label="Wanderrouten Empfehlung für die Preilipper Kuppe (öffnet sich in einem neuen Fenster).">
                        Preilipper Kuppe</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saalemaxx.de" target="_blank" class="link-style"
                        aria-label="Link zum Spaßbad Saalemax (öffnet sich in einem neuen Fenster).">Spaßbaad 
                        Saalemax</a></li>
                <li class="list-group-item list-background">
                    <a href="https://theater-rudolstadt.de/" target="_blank" class="link-style"
                        aria-label="Link zum Theater Rudolstadt (öffnet sich in einem neuen Fenster).">Theater
                        Rudolstadt</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saalfeld-kultur.de/" target="_blank" class="link-style"
                        aria-label="Link zum Kulturzentrum Meininger Hof (öffnet sich in einem neuen Fenster).">Meininger
                        Hof Saalfeld</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.bz-saalfeld.de/sozialeprojekte/jupp/jugendzentrum/" target="_blank"
                        class="link-style"
                        aria-label="Link zur Orangerie Saalfeld, ein kultureller Lern- und Treffpunkt (öffnet sich in einem neuen Fenster).">
                        Orangerie Saalfeld</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.instagram.com/haus.doeschnitz/" target="_blank" class="link-style"
                        aria-label="Haus Döschnitz Instagramseite (öffnet sich in einem neuen Fenster).">Haus Döschnitz</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.saaleradweg.de/" target="_blank" class="link-style"
                        aria-label="Link zu Informationen über den Saaleradwanderweg (öffnet sich in einem neuen Fenster).">
                        Saaleradwanderweg</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.thueringen.info/floessen-auf-der-saale.html" target="_blank" class="link-style"
                        aria-label="Kontaktmöglichkeit um ein Flößausflug zu buchen (öffnet sich in einem neuen Fenster).">
                        Flößen</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.haflinger-in-meura.de/urlaub-und-freizeit/pony-spaziergang/" target="_blank"
                        class="link-style" aria-label="Link zur Homepage des Haflinger Gestüts Meura mit Möglichkeit Pony Spaziergänge zu buchen (öffnet sich in einem neuen Fenster).">Reiten</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.kanuverleih-rudolstadt.de" target="_blank" class="link-style"
                        aria-label="Link zum Kanuverleih Rudolstadt (öffnet sich in einem neuen Fenster).">Paddeln</a></li>
                        <li class="list-group-item list-background">
                            <a href="" target="_blank" class="link-style" aria-label="(öffnet sich in einem neuen Fenster)."></a>Pilze sammeln im Herbst</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="margin-top-bottom">Sehenswürdigkeiten</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.heidecksburg.de/" target="_blank" class="link-style"
                        aria-label="Link zur Heidecksburg Homepage - ein Schloss mit Kultur- und Kunstmuseum (öffnet sich in einem neuen Fenster).">Heidecksburg</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://www.schloss-schwarzburg.com/" target="_blank" class="link-style"
                        aria-label="Link zur Schloss Schwarzburg Homepage - ein barocker Palast mit Geschichts- und Architekturmuseum (öffnet sich in einem neuen Fenster).">Schwarzburg</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://schillerhaus.rudolstadt.de/" target="_blank" class="link-style"
                        aria-label="Link zur Schillerhaus Homepage in Rudolstadt - ein Gebäude das Friedrich Schiller gewidmet ist, inklusive Literaturmuseum (öffnet sich in einem neuen Fenster).">Schillerhaus</a>
                </li>
                <li class="list-group-item list-background">
                    <a href="https://kulturnaturhof.de/" target="_blank" class="link-style"
                        aria-label="Kultur Natur Hof Bechstedt Homepage (öffnet sich in einem neuen Fenster).">Kulturhof Bechstedt</a>
                </li>
            </ul>
            <h2 class="margin-top-bottom">Verschiedenes</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.google.de/maps/place/Blassenberg+-+Orchideengebiet/@50.770755,11.2612045,11z/data=!4m6!3m5!1s0x47a3ffde563fa505:0x1aa6ce5814faad80!8m2!3d50.7803042!4d11.3501734!16s%2Fg%2F11rm_84mld?entry=ttu"
                        target="_blank" class="link-style"
                        aria-label="Google Map Standpunkt des Blassenberg Orchideengebiets (öffnet sich in einem neuen Fenster).">Blassenberg -
                        Orchideengebiet</a>
                </li>
                <li class="list-group-item list-background list-background">
                    <a href="https://www.uhlstaedt-kirchhasel.de/tourismus/" target="_blank" class="link-style"
                        aria-label="Link zur Homepage der Gemeinde Uhlstädt-Kirchhasel mit Tourismusempfehlungen (öffnet sich in einem neuen Fenster).">Gemeinde
                        Uhlstädt-Kirchhasel</a>
                </li>
            </ul>
            <h2 class="margin-top-bottom">Restaurants & Cafés</h2>
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item list-background">
                    <a href="https://www.kulmberghaus.de/" target="_blank" class="link-style"
                        aria-label="Link zur Kulmberghaus Homepage - ein Hotel und Restaurant in der Nähe von Saalfeld, umgeben von Wald (öffnet sich in einem neuen Fenster).">Kulmberghaus
                        Biergarten & Restaurant</a></li>
                <li class="list-group-item list-background">
                    <a href="https://hotel-marienturm.de/" target="_blank" class="link-style"
                        aria-label="Link zum Marienturm Hotel und Restaurant (öffnet sich in einem neuen Fenster).">Marienturm
                        Restaurant</a></li>
                <li class="list-group-item list-background">
                    <a href="https://mitbrotundseele.de/" target="_blank" class="link-style"
                        aria-label="Link zum Restaurant & Bäckerei 'Mit Brot und Seele' in Rudolstadt (öffnet sich in einem neuen Fenster).">Mit
                        Brot & Seele Café und Bar</a></li>
                <li class="list-group-item list-background">
                    <a href="https://www.cafeamkunstufer.de/" target="_blank" class="link-style"
                        aria-label="Link zur Caféhomepage des Kunsthofes Remschütz mit traditionell thüringischem Essen und selbstgebackten Speisen (öffnet sich in einem neuen Fenster).">Kunsthof
                        Remschütz</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}