{% extends "base.html" %}

{% block title %}Obere Ferienwohnung - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Obere Ferienwohnung</h1>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Willkommen
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Liebe Gäst*innen,<br><br>

                    herzlich willkommen in unserem urigen Lehmhaus! Direkt am Waldrand erwartet euch ein traumhafter Ort
                    voller wilder
                    Blumen, Vogelgesang, das Rauschen der Bäume und nette Hosts. Hier sind schon viele Menschen und
                    Generationen
                    zusammen gekommen und konnten Energie und Freude tanken.<br><br>

                    Auch wenn nur noch das Fundament dieser ausgebauten Scheune vom Schloßkulm erzählt, so sind es doch
                    diese alten
                    Steine die diesen Urlaubs- oder auch Rückzugsort zu etwas Einzigartigem machen.<br><br>

                    Auch längere Aufenthalte lohnen sich. Das Internet ist meistens stabil, kaum Ablenkung, aber viele
                    Möglichkeiten
                    Pausen gut zu nutzen - das ermöglicht auch Arbeitsaufenthalte und Planungstreffen, sowie erholsame
                    Familienurlaube. Ihr
                    findet hier auf zwei Etagen ein einfaches und gemütliches Zuhause.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Die Unterkunft
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Im Haus erwartet euch eine reduzierte Ausstattung, viel Holz und Lehm, einen Holzofen, der in kalten
                    zeiten beheizt
                    werden muss (Wasser und Heizung sind wasserführend mit Ofen verbunden) und originelle Möbel. Es ist
                    ein altes Haus,
                    dass nur im Notwendigsten saniert wurde. Für große Kochaktionen ist alles vorhanden und bei den
                    Hosts erfragbar. Im
                    Garten kann nach Regenfällen und in Absprache mit den Hosts Feuer gemacht und gegrillt werden
                    (ansonsten
                    Brandgefahr!!!!!)
                    .<br><br>

                    Zu Eurer Eingangstür müsst ihr zur Veranda hochgehen. (Bitte nicht mit der Eingangstür zur unteren
                    Ferienwohnung
                    verwechseln!). Im Innern erwartet euch rustikale Gemütlichkeit. Das Bett im kleinen Zimmer ist
                    2x1,40 m und im
                    großen Zimmer 2x1,60 m breit. Im großen Zimmer können noch mehrere
                    Matratzen aufgebettet werden. Decken sind vorhanden, Bettwäsche und Handtücher ebenso.
                    <br><br>
                    Der Garten ist vor allem auch für Familien mit Kindern ein Segen, da hier keine Straße überquert
                    werden muss, um ins
                    Grüne oder in den Wald zu gelangen. Wer mit Hund anreisen möcht bucht bitte die Rittersuite 2 dazu.
                    <br><br>
                    Die obere Ferienwohnung ist für max. 11 Gäste ausgelegt.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Important Information
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Verschärfter Brandschutz!!!</li>
                    <li class="list-group-item">Rauchverbot im Haus!</li>
                    <li class="list-group-item">Lagerfeuer und Grill verboten im Garten!</li>
                    <li class="list-group-item">Im Haus maximal eine Kerze oder ein Teelicht unter Aufsicht auf
                        feuerfester
                        Unterlage oder auf sicherem Ständer!</li>
                    <li class="list-group-item">Keine brennbaren Gegenstände über dem Ofenblech bis zur Decke und 1m vor
                        dem Ofen!
                    </li>
                    <li class="list-group-item">Waldbrandwarnstufe beachten!</li>
                </ul>
                <br>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Check-In / Check-Out
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Check-in nach 14:00 Uhr<br>
                    Check-out vor 11:00 Uhr
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Ausstattung
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">meist stabiles Internet</li>
                    <li class="list-group-item">Küche mit Elektrokochplatten und Backröhre</li>
                    <li class="list-group-item">Küchenzubehör für viele Menschen</li>
                    <li class="list-group-item">Wasserkocher, Kühlschrank, Geschirrspülmaschine</li>
                    <li class="list-group-item">Bad mit Badewanne</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Galerie
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/schlosskulm-hauseingang-beschriftet.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/schlosskulm-hauseingang-beschriftet.jpg"
                                        alt="Die Eingänge zu den Ferienwohnungen.">
                                </a>
                                <div class="desc" aria-hidden="true">Die Eingänge zu den Ferienwohnungen</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-1.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-1.jpg"
                                        alt="Doppelmatratze in einem Schlafgiebel mit kleinem Fenster.">
                                </a>
                                <div class="desc">Eine der Schlafgelegenheiten unter dem Schrägdach</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/küche-oben-1.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/küche-oben-1.jpg"
                                        alt="Massiver Holztisch mit 9 Sitzplätzen in gothischem Stil.">
                                </a>
                                <div class="desc" aria-hidden="true">Massiver Holztisch mit 9 Sitzplätzen in gothischem
                                    Stil</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-oben/schlafzimmer-1.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/schlafzimmer-1.jpg"
                                        alt="Schlafzimmer mit Doppelbett und Kinderbett.">
                                </a>
                                <div class="desc" aria-hidden="true">Schlafzimmer mit Doppelbett und Kinderbett</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-1.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-1.jpg"
                                        alt="Offenes Wohnzimmer mit gotischen Möbeln und großem Schreibtisch.">
                                </a>
                                <div class="desc" aria-hidden="true">Offenes Wohnzimmer mit gotischen Möbeln und großem
                                    Schreibtisch</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/arbeitsplatz.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/arbeitsplatz.jpg"
                                        alt="Großer Schreibtisch unter einem Fenster mit Blick ins Tal.">
                                </a>
                                <div class="desc">Dein Arbeitsplatz für produktive Stunden</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/badewanne.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/badewanne.jpg"
                                        alt="Freistehende Badewanne unter einem Dachfenster.">
                                </a>
                                <div class="desc" aria-hidden="true">Deine Auszeit in der Badewanne</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/fenster-1.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/fenster-1.jpg"
                                        alt="Kleines Holzfenster mit Blick in den Garten.">
                                </a>
                                <div class="desc" aria-hidden="true">Blick in den Garten</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-2.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-2.jpg"
                                        alt="Doppelmatratze in einem Schlafgiebel mit kleinem Fenster.">
                                </a>
                                <div class="desc">Eine der Schlafgelegenheiten unter dem Schrägdach</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/küche-oben-2.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/küche-oben-2.jpg"
                                        alt="Massiver Holztisch mit 9 Sitzplätzen in gothischem Stil.">
                                </a>
                                <div class="desc" aria-hidden="true">Massiver Holztisch mit 9 Sitzplätzen in gothischem
                                    Stil</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-oben/schlafzimmer-2.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/schlafzimmer-2.jpg"
                                        alt="Schlafzimmer mit Doppelbett und Kinderbett.">
                                </a>
                                <div class="desc" aria-hidden="true">Schlafzimmer mit Doppelbett und Kinderbett</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-2.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-2.jpg"
                                        alt="Wohnzimmer mit kleinem Tisch mit Sitzgelegenheiten sowie einem Arbeitsplatz.">
                                </a>
                                <div class="desc" aria-hidden="true">Wohnzimmer mit kleinem Tisch mit Sitzgelegenheiten
                                    sowie einem Arbeitsplatz</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/badezimmer.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/badezimmer.jpg"
                                        alt="Badezimmer mit Holzboden, Dachschräge, Badewanne und Waschbecken.">
                                </a>
                                <div class="desc" aria-hidden="true">Das Badezimmer</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-3.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/bett-unterm-dach-3.jpg"
                                        alt="Raum mit Dachschrägen, 2 Betten und 4 Schwingsesseln.">
                                </a>
                                <div class="desc" aria-hidden="true">Raum mit Dachschrägen, 2 Betten und 4
                                    Schwingsesseln</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/küche-oben-3.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/küche-oben-3.jpg"
                                        alt="Blick auf Küchenzeile, Esstisch und Wohnungstür.">
                                </a>
                                <div class="desc" aria-hidden="true">Blick auf Küchenzeile, Esstisch und Wohnungstür
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/fenster-2.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/fenster-2.jpg"
                                        alt="Kleines Holzfenster mit Blick ins Tal.">
                                </a>
                                <div class="desc" aria-hidden="true">Blick auf die Landschft</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/treppe.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/treppe.jpg"
                                        alt="Holztreppe mit Zwischenebene und Blick aus dem Fenster.">
                                </a>
                                <div class="desc">Treppenaufgang zu den Schlafgelegenheiten</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-3.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/wohnzimmer-3.jpg"
                                        alt="Blick vom Wohnzimmer zum offenen Küchenbereich, Kamin und Sofa.">
                                </a>
                                <div class="desc" aria-hidden="true">Wohnzimmer mit Ofen und Durchgang zur Küche</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/küche-oben-4.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/küche-oben-4.jpg"
                                        alt="Blick auf Küchenzeile, Esstisch und Warmwasserspeicher.">
                                </a>
                                <div class="desc" aria-hidden="true">Blick auf Küchenzeile, Esstisch und
                                    Warmwasserspeicher</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-oben/küche-oben-5.jpg"
                                    aria-label="Das Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/ferienwohnungen/fewo-oben/küche-oben-5.jpg"
                                        alt="Küchenzeile mit Ceranfeld und Ofen.">
                                </a>
                                <div class="desc" aria-hidden="true">Küchenzeile mit Ceranfeld und Ofen</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                Preise
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Obere Ferienwohnung</h5>
                                <p class="card-text">
                                    1-2 Personen: <strong>72€ pro Nacht</strong><br>
                                    3 oder mehr Personen: <strong>14€ pro Nacht</strong> und Person<br>
                                    Zusätzlich 50€ für die Endreinigung<br>
                                </p>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'buchung' %}" class="btn btn-purple border-dark">Buchung</a>
                                    {% else %}
                                    {% include 'login-needed-modal.html' %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Zusätzliche Information</h5>
                                <p class="card-text">
                                    Der Preis für <strong>Kinder,</strong> die 3 Jahre oder älter sind, liegt bei <strong>14€ pro Nacht</strong> (selber Preis wie für Erwachsene).<br>
                                    Zum Tanzfest und Silvester vermieten wir das Haus nur
                                    komplett (obere und untere Ferienwohnung) für max. 15 Personen, max. 5 Tage,
                                    Festpreis 1000€.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}