{% extends "base.html" %}

{% block title %}Gallery - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>Gallery</h1>

<h2 class="margin-top-bottom">The House & Surrounding Area</h2>

<div class="container">
  <div class="row">

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-housewall.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-housewall.jpg"
            alt="Clay-colored half-timbered house with blossoming roses in front. Entrance to the upper apartment.">
        </a>
        <div class="desc" aria-hidden="true">The stairs to the upper apartment entrance</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-2.jpg" alt="Old clay-colored half-timbered house with a balcony that leads to the garden.">
        </a>
        <div class="desc" aria-hidden="true">Our house</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-entry.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-entry.jpg"
            alt="Clay-colored half-timbered house with stairs that lead to the balcony.">
        </a>
        <div class="desc" aria-hidden="true">Stairs that lead to the balcony / upper apartment entrance</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-4.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-4.jpg" alt="View of the village with many half-timbered houses.">
        </a>
        <div class="desc" aria-hidden="true">View of the village with many half-timbered houses</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-figure.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-figure.jpg" alt="Wooden big mermaid figure sitting on the balcony hand rail.">
        </a>
        <div class="desc" aria-hidden="true">Wooden big mermaid figure sitting on the balcony hand rail</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-1.jpg" alt="Old clay-colored half-timbered house with a balcony that leads to the garden.">
        </a>
        <div class="desc" aria-hidden="true">Our house</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-garden-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-garden-2.jpg" alt="Blossoming cherry tree in the garden.">
        </a>
        <div class="desc" aria-hidden="true">Blossoming cherry tree in the garden</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-festive.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-festive.jpg" alt="Lawn night view with small stage and luminescent lights.">
        </a>
        <div class="desc" aria-hidden="true">Lawn night view with small stage and luminescent lights</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-3.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-house/schlosskulm-house-3.jpg" alt="Half-timbered houses next to village road leading towards the forest.">
        </a>
        <div class="desc" aria-hidden="true">Village road leading towards the forest</div>
      </div>
    </div>

  </div>
</div>

<h2 class="margin-top-bottom">Schloßkulm - Village and Nature</h2>

<div class="container">
  <div class="row">

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-blossom-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-blossom-1.jpg" alt="Cherry blossoms.">
        </a>
        <div class="desc" aria-hidden="true">Cherry blossoms</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-village-center.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-village-center.jpg" alt="Cobbled village square with tree and bench.">
        </a>
        <div class="desc">The village square. Here you can find plenty parking opportunities.</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-blossom-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-blossom-2.jpg" alt="Fruit tree blossoms.">
        </a>
        <div class="desc" aria-hidden="true">Fruit tree blossoms</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center flex-wrap">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-cat.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-cat.jpg" alt="Tabby cat lying on the lawn with watering can next to it.">
        </a>
        <div class="desc">Our cat</div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-2.jpg"
              alt="Valley view towards Langenschade, Leuchtenburg.">
          </a>
          <div class="desc" aria-hidden="true">Valley view towards Langenschade, Leuchtenburg</div>
        </div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center flex-wrap">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-1.jpg"
            alt="Half-timbered houses at the edge of the forest.">
        </a>
        <div class="desc" aria-hidden="true">On the top right you can see our house!</div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-birds-eye-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-birds-eye-2.jpg"
              alt="Aerial photo of Schloßkulm, whole village.">
          </a>
          <div class="desc" aria-hidden="true">Birds eye view of Schloßkulm</div>
        </div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-3.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-landscape-3.jpg"
            alt="Meadow orchard with very old apple trees.">
        </a>
        <div class="desc" aria-hidden="true">Meadow orchard with very old apple trees</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-street.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-street.jpg" alt="Rural road towards Schloßkulm.">
        </a>
        <div class="desc" aria-hidden="true">Rural road towards Schloßkulm</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-pond.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-pond.jpg"
            aria-label="Picture opens in a new window" alt="Valley view with fire protection pond.">
        </a>
        <div class="desc" aria-hidden="true">Valley view with fire protection pond</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank"
          href="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-birds-eye-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-pictures/schlosskulm-nature/schlosskulm-birds-eye-1.jpg"
            alt="Aerial photo of our property with half-timbered houses.">
        </a>
        <div class="desc">Aerial photo of our property with half-timbered houses</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}