{% extends "base.html" %}
{% block content %}

<h1>Galerie</h1>

<h2 class="margin-top-bottom">Das Haus & Umgebung</h2>

<div class="container">
  <div class="row">

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauswand.jpg"
            alt="Lehmfarbenes Fachwerk mit blühenden Rosen davor. Eingang zur oberen Ferienwohnung.">
        </a>
        <div class="desc" aria-hidden="true">Die Treppe zum Eingang zur oberen Ferienwohnung</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-2.jpg" alt="Altes lehmfarbenes Fachwerkhaus mit Veranda zum Garten.">
        </a>
        <div class="desc" aria-hidden="true">Altes lehmfarbenes Fachwerkhaus mit Veranda zum Garten</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-hauseingang.jpg"
            alt="Lehmfarbenes Fachwerkhaus mit Treppenaufgang zur Veranda.">
        </a>
        <div class="desc" aria-hidden="true">Lehmfarbenes Fachwerkhaus mit Treppenaufgang zur Veranda</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-4.jpg" alt="Blick ins Dorf mit Fachwerkhäusern.">
        </a>
        <div class="desc" aria-hidden="true">Blick ins Dorf mit Fachwerkhäusern</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-figur.jpg" alt="Figur auf Handlauf: bauchige Meerjungfrau aus Holz mit Verwitterungsspuren.">
        </a>
        <div class="desc" aria-hidden="true">Figur auf Handlauf: bauchige Meerjungfrau aus Holz mit Verwitterungsspuren</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-1.jpg" alt="Altes lehmfarbenes Fachwerkhaus mit Veranda zum Garten.">
        </a>
        <div class="desc" aria-hidden="true">Altes lehmfarbenes Fachwerkhaus mit Veranda zum Garten</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-garten-2.jpg" alt="Blühender Kirschbaum im Garten.">
        </a>
        <div class="desc" aria-hidden="true">Blühender Kirschbaum im Garten</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-festlich.jpg" alt="Wiese bei Nacht mit kleiner Bühne und leuchtenden Lampignons.">
        </a>
        <div class="desc" aria-hidden="true">Wiese bei Nacht mit kleiner Bühne und leuchtenden Lampignons</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-6.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-haus/schlosskulm-haus-3.jpg" alt="Fachwerkhäuser an Dorfstraße mit Waldweg.">
        </a>
        <div class="desc" aria-hidden="true">Fachwerkhäuser an Dorfstraße mit Waldweg</div>
      </div>
    </div>

  </div>
</div>

<h3 class="margin-top-bottom">Schloßkulm - Ort und Natur</h3>

<div class="container">
  <div class="row">

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blueten-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blueten-1.jpg" alt="Kirschbaumblüten.">
        </a>
        <div class="desc" aria-hidden="true">Kirschbaumblüten</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-ortsmitte.jpg" alt="Gepflasterter Dorfplatz mit Baum und Sitzbänken.">
        </a>
        <div class="desc">Die Dorfmitte. Hier gibt es genug Platz zum Parken.</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blueten-2.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-blueten-2.jpg" alt="Üppige Obstblüte.">
        </a>
        <div class="desc" aria-hidden="true">Üppige Obstblüte.</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-katze.jpg" alt="Getigerte Katze liegt im Gras mit rosa Gießkanne.">
        </a>
        <div class="desc">Unser Katze</div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-2.jpg"
              alt="Blick ins Tal Richtung Langenschade, Leuchtenburg.">
          </a>
          <div class="desc" aria-hidden="true">Blick ins Tal Richtung Langenschade, Leuchtenburg</div>
        </div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-1.jpg"
            alt="Fachwerkhäuser am Waldrand mit Tierkoppel.">
        </a>
        <div class="desc" aria-hidden="true">Rechts oben ist unser Haus zu sehen :)</div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="gallery">
          <a target="_blank"
            href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg"
            aria-label="Picture opens in a new window">
            <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-2.jpg"
              alt="Luftaufnahme von Schloßkulm, ganzes Dorf.">
          </a>
          <div class="desc" aria-hidden="true">Schloßkulm aus der Vogelperspektive</div>
        </div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-landschaft-3.jpg"
            alt="Streuobstwiese mit sehr alten Apfelbäumen.">
        </a>
        <div class="desc" aria-hidden="true">Streuobstwiese mit sehr alten Apfelbäumen</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-straße.jpg" alt="Landstraße Richtung Schloßkulm.">
        </a>
        <div class="desc" aria-hidden="true">Die Straße zum Dorf</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank" href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-teich.jpg"
            aria-label="Picture opens in a new window" alt="Löschteich im Dorf mit Blick ins Tal.">
        </a>
        <div class="desc" aria-hidden="true">Löschteich im Dorf mit Blick ins Tal</div>
      </div>
    </div>

    <div class="col-sm d-flex justify-content-center">
      <div class="gallery">
        <a target="_blank"
          href="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg"
          aria-label="Picture opens in a new window">
          <img src="../../static/images/schlosskulm-bilder/schlosskulm-natur/schlosskulm-vogelperspektive-1.jpg"
            alt="Luftbild von unserem Grundstück mit Fachwerkhäusern.">
        </a>
        <div class="desc">Unser Haus in Vogelperspektive</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}