{% extends "base.html" %}

{% block title %}Haus mieten - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Renting The House</h1>

<div class="container">
    <div class="row column-gap-5">
        <div class="col-sm-6">
            <p class="mb-4">Unser Haus kann auch im Gesamten gemietet werden.<br>
                Die beiden Ferienwohnungen lassen sich verbindend öffnen.<br>
                Spezielle Angebote können auch auf unserer Festivalwiese mit Bühne und Pizzaofen oder im Garten
                stattfinden.<br><br>
                In unseren alten ausgebauten Scheune ist die Wohnsituation sehr intim. Doppelbetten müssen geteilt,
                Matrazen ausgelegt und die Spitzböden erklommen werden.
            </p>
                {% if user.is_authenticated %}
                <a href="{% url 'booking' %}" class="btn btn-purple border-dark">Buchung</a>
                {% else %}
                {% include 'login-needed-modal.html' %}
                {% endif %}
                <br><br>
        </div>

        <div class="col-sm-4">
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Workshops</li>
                <li class="list-group-item">Seminare</li>
                <li class="list-group-item">Festlichkeiten</li>
                <li class="list-group-item">Freundes-und Familientreffen</li>
                <li class="list-group-item">Wandergruppen (auch Fastenwandergruppen)</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}