{% extends "base.html" %}

{% block title %}House Rules - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>House Rules</h1>

<p>
    For many people our place is something very special. No ingrain wallpaper, no drywall... but an old house made of adobe and wood.
<br><br>
    <strong>This means:</strong><br>
</p>
<ul class="list-group list-group-flush rounded-corners">
    <li class="list-group-item">… an original half-timbered house and a good room climate</li>
    <li class="list-group-item">… minimalist and sometimes unfamiliar facilities</li>
    <li class="list-group-item">… the house was expanded by our father - and we are planning to continue it this way</li>
    <li class="list-group-item">… in winter you can hear the snowfall against the wall when in complete silence</li>
    <li class="list-group-item">… the house has hosted many people and some of it has left its marks</li>
</ul><br><br>
<p>
    <strong>What needs to be taken into account:</strong>
</p>
<ul class="list-group list-group-flush rounded-corners">
    <li class="list-group-item">… we are part of a small village community - please be respectful with everyone and everything</li>
    <li class="list-group-item">… we welcome everyone who wants to live in an open and diverse society, as we do.</li>
    <li class="list-group-item">… the heart of the house are the wood ovens. On cold days you will HAVE to operate them yourself!</li>
    <li class="list-group-item">… if you do not know how to do this please tell us in advance. We are happy to explain it to you.</li>
    <li class="list-group-item">… Candles and other open fires are not allowed in the whole house!</li>
    <li class="list-group-item">… Camp fires and BBQs are only allowed upon agreement with us!</li>
    <li class="list-group-item">… in spring hibernating insects wake up in our beams. We cannot and do not want to take away this save haven from them.</li>
    <li class="list-group-item">… wood transmits sound well. There is a noise dampening built into the floor but it does not prevent sounds completely.</li>
    <li class="list-group-item">… our water is drinkable but extremely calcareous / hard. There is a water filter jug available for you to use.</li>
</ul>

{% endblock %}