{% extends "base.html" %}

{% block title %}Hausregeln - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Hausregeln</h1>

<p>
    Für viele ist unser Ort etwas ganz besonderes. Keine Raufasertapete, keine Trockenwand... sondern ein sehr altes Holz-Lehmhaus.
<br><br>
    <strong>Das bedeutet bei uns:</strong><br>
</p>
<ul class="list-group list-group-flush rounded-corners">
    <li class="list-group-item">… originales Fachwerk und gutes Raumklima</li>
    <li class="list-group-item">… reduzierte und manchmal ungewohnte Ausstattung</li>
    <li class="list-group-item">… das Haus wurde von unserem Vater eigenhändig ausgebaut - und wir machen so weiter</li>
    <li class="list-group-item">… man kann im Winter bei absoluter Stille den Schnee gegen die Hauswand rieseln hören</li>
    <li class="list-group-item">… das Haus hat viele Menschen beherbergt und manche Zeit hat ihre Spuren hinterlassen</li>
</ul><br><br>
<p>
    <strong>Was es unbedingt zu beachten gilt:</strong>
</p>
<ul class="list-group list-group-flush rounded-corners">
    <li class="list-group-item">… wir sind Teil einer kleinen Dorfgemeinschaft - bitte geht respektvoll mit allen und allem um</li>
    <li class="list-group-item">… wir begrüßen alle, die wie wir in einer offenen und diversen Gesellschaft leben wollen</li>
    <li class="list-group-item">… das Herz des Hauses sind die Holzöfen. An kalten Tagen MUSS selbst geheizt werden!</li>
    <li class="list-group-item">… wer keine Ahnung hat, wie das funktioniert MUSS dies vorher sagen. Wir helfen gern!</li>
    <li class="list-group-item">… Kerzen und andere offene Flammen sind im gesamten Haus nicht erlaubt!</li>
    <li class="list-group-item">… Lagerfeuer und Grillen sind NUR nach Absprache mit uns möglich!</li>
    <li class="list-group-item">… im Frühjahr erwachen überwinternde Insekten im Gebälk. Wir können und wollen ihnen diesen Rückzugsort nicht nehmen.</li>
    <li class="list-group-item">… Holz schwingt gut. Eine Trittschalldämmung ist verbaut, federt aber nur teilweise ab.</li>
    <li class="list-group-item">… unser Wasser ist trinkbar, aber extrem kalkhaltig. Eine Filterkanne steht bereit.</li>
</ul>

{% endblock %}