{% extends "base.html" %}

{% block title %}Startseite - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <ul class="list-group-flush rounded-corners">
        <li class="list-group-item">
          <div class="styling-messages rounded-corners p-2 background-grey alert-{{ message.tags }}">{{ message }}</div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<br>

{% endfor %}
{% endif %}

<div class="row">
  <div class="col-12">
    <h1>Willkommen in Schloßkulm</h1>
    <p>Liebe Gäste,
      <br><br>herzlich willkommen in unserem urigen Lehmhaus am Wald. Wilde Blumen, Vogelgesang, das Rauschen der Bäume,
      das Knacken des Ofens und nette Hosts begleiten euch durch eure Schloßkulmzeit. Hier sind schon viele Menschen und
      Generationen zusammen gekommen und konnten Energie und Freude tanken.
      Menschen, die nach neuen Lebensformen suchten, Menschen aus dem Dorf, Wandernde und Reisende haben den Ort seit 50
      Jahren über den Systemwechsel hinweg mitgedacht und mitgestaltet.<br><br>Jetzt haben wir (Anna Barth und Friedel
      Barth) die Verantwortung übernommen, diesen Ort weiter zu leben und mit Sinn für dessen Geschichte zu pflegen. Für
      uns bedeutet das vor allem Einzuladen. Euch einzuladen hier eine gute Zeit zu verbringen! Als Gäste tragt ihr
      wesentlich zur Erhaltung des Ortes und seiner Atmosphäre bei.
      Wer mag, kann sich einbringen, mitmachen… braucht ihr eine körperlich entlastende Holzaktion? Einen ruhigen
      Spaziergang auf Empfehlung? Neuen Input, weil ihr endlich mal dazu kommt, zu reflektieren? Einen geschützten Raum,
      um Ungewohntes auszuprobieren? Sprecht uns gern an!
      Und natürlich freuen wir uns über jede:n, der:die ausgiebig für die eigene Erholung sorgt.
      <br><br>
      Wir freuen uns auf euch!
      <br><br>
      Friedel, Anna & Jonathan
      <br><br>
      <a href="{% url 'upper-apartment' %}" class="btn btn-purple border-dark">Details Obere Ferienwohnung</a>
      <br><br>
      <a href="{% url 'lower-apartment' %}" class="btn btn-purple border-dark">Details Untere Ferienwohnung</a>
      <br><br>
      <a href="{% url 'contact' %}" class="btn btn-purple border-dark m-2">Kontakt</a>
      {% if user.is_authenticated %}
      <a href="{% url 'booking' %}" class="btn btn-purple border-dark m-2">Buchung</a>
    </p>
      {% else %}
      {% include 'login-needed-modal.html' %}
      {% endif %}
    <br>
    <div>
      <iframe src="https://www.youtube.com/embed/7EsWSfLHmW4?si=kP4Np3F9A6ffv-S6&mute=1" title="YouTube video player"
        class="youtube-responsive"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12"></div>
</div>

{% endblock %}