{% extends "base.html" %}

{% block title %}Main Page - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <ul class="list-group-flush rounded-corners">
        <li class="list-group-item">
          <div class="styling-messages rounded-corners p-2 background-grey alert-{{ message.tags }}">{{ message }}</div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<br>

{% endfor %}
{% endif %}

<div class="row">
  <div class="col-12">
    <h1>Welcome to Schloßkulm</h1>
    <p>Dear guests,
      <br><br>welcome to our adobe house nearby the forest. Wild flowers, birds chirping, the wind in the trees, a
      crackling fireplace and nice hosts who accompany you during your time in Schloßkulm.
      Many people and generations have come together here to wind down and rest. People who were looking for new ways of
      living, people from the village, hikers and travellers have
      shaped this place over the years.<br><br>Now we - Anna Barth und Friedel Barth - have taken on the responsibility
      to shape this village further, paying attention to its history. For us this means to invite others in the first
      place.
      To invite you to spend a nice time here! As guests you are contributing to this place and to a lively atmosphere.
      If you like you can get involved... do you need a physical workout chopping wood? A calm stroll path in nature
      recommended by us?
      New inspiration because you finally have the time and space to reflect? A safe space to try out unusual things?
      Feel free to get in touch with us! We are happy for everyone who takes care of themselves and their recreation
      here in Schloßkulm.
      <br><br>
      We are looking forward to meet you!
      <br><br>
      Friedel, Anna & Jonathan
      <br><br>
      <a href="{% url 'upper-apartment' %}" class="btn btn-purple border-dark">Upper Apartment Details</a>
      <br><br>
      <a href="{% url 'lower-apartment' %}" class="btn btn-purple border-dark">Lower Apartment Details</a>
      <br><br>
      <a href="{% url 'contact' %}" class="btn btn-purple border-dark">Get In Touch</a>
      {% if user.is_authenticated %}
      <a href="{% url 'booking' %}" class="btn btn-purple border-dark">Book With Us</a>
    </p>
      {% else %}
      {% include 'login-needed-modal.html' %}
      {% endif %}
    <br>
    <div>
      <iframe src="https://www.youtube.com/embed/7EsWSfLHmW4?si=kP4Np3F9A6ffv-S6&mute=1" title="YouTube video player"
        class="youtube-responsive"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12"></div>
</div>

{% endblock %}