{% extends "base.html" %}

{% block title %}Initiativen - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Initiativen</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Mothek</li>
                <li class="list-group-item">Coaching Friedel Barth</li>
                <li class="list-group-item">Maze tools und Ectoplastic</li>
                <li class="list-group-item">Karoline Schneider (Künstlerin)</li>
                <li class="list-group-item">Heimat-und Streuobstwiesenverein Schloßkulm</li>
                <li class="list-group-item">Sinn und Unsinn Charlotte Janus</li>
                <li class="list-group-item">Robert Dobe</li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">Jugendforum Saalfeld</li>
                <li class="list-group-item">Jugendclub Uhlstädt (Gemeinde)</li>
                <li class="list-group-item">Lars Kuschmirz</li>
                <li class="list-group-item">Hof9 Mötzelbach</li>
                <li class="list-group-item">Anke Wiedemann</li>
                <li class="list-group-item">Niedermühle Kapellendorf</li>
                <li class="list-group-item">Clodramühle</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}