{% extends "base.html" %}

{% block title %}Location - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1 class="margin-top-bottom">Location</h1>

<div class="container">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-sm">
            <p class="px-4">
                Schloßkulm is located on a hill between Saalfeld and Rudolstadt in Central-East Germany amongst orchards
                and mixed forests.
                The term "Schloß" in "Schloßkulm" translates to castle. You will not find a castle here anymore but
                there are still 14 half-timbered houses and a central bakehouse left standing.
                About 50 inhabitants live and farm in our village and surrounding area. There are good transport
                connections to nearby cities Erfurt, Jena and Weimar.
                The Thuringian forest is close by and leads through dreamlike landscapes.<br><br>
            </p>
        </div>
        <div class="col-sm width-50">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20220.743169999932!2d11.360846058726858!3d50.69038125790348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a3fdeb7b812231%3A0xa208ec40a0bff40!2s07407%20Uhlst%C3%A4dt-Kirchhasel-Schlo%C3%9Fkulm!5e0!3m2!1sde!2sde!4v1715950976772!5m2!1sde!2sde"
                style="border:0;"
                title="Embedded Google Map that shows the village of Schloßkulm and its surroundings."
                allowfullscreen="" width="400" height="300" class="iframe-size w-100 size-iframe" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>

{% endblock %}