{% extends "base.html" %}

{% block title %}Untere Ferienwohnung - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Untere Ferienwohnung</h1>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Willkommen
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Liebe Gäst*innen,<br><br>

                    willkommen in den uralten Mauern von Schloßkulm! In kalten Zeiten wird mit Ofen geheizt (es geht
                    nicht ohne!), im
                    Sommer die Sternschnuppen gezählt. Vom Wald weht es herb und sanft wird im Grün der Blick. Direkt am
                    Waldrand
                    erwartet euch ein traumhafter Ort voller wilder
                    Blumen, Vogelgesang, das Rauschen der Bäume und nette Hosts. Hier sind schon viele Menschen und
                    Generationen
                    zusammen gekommen und konnten Energie und Freude tanken.<br><br>

                    Auch wenn nur noch das Fundament dieser ausgebauten Scheune vom Schloßkulm erzählt, so sind es doch
                    diese alten
                    Steine die diesen Urlaubs- oder auch Rückzugsort zu etwas Einzigartigem machen.<br><br>

                    Auch längere Aufenthalte lohnen sich. Das Internet ist meistens stabil, kaum Ablenkung, aber viele
                    Möglichkeiten
                    Pausen gut zu nutzen - das ermöglicht auch Arbeitsaufenthalte und Planungstreffen, sowie erholsame
                    Familienurlaube. Ihr
                    findet hier auf zwei Etagen ein einfaches und gemütliches Zuhause.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Die Unterkunft
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Im Haus erwartet euch eine reduzierte Ausstattung, viel Holz und Lehm, einen Holzofen, der in kalten
                    Zeiten beheizt
                    werden muss (Wasser und Heizung sind wasserführend mit Ofen verbunden - für Holz wird immer gesorgt
                    sein :)) und
                    originelle Möbel. Es ist ein altes Haus,
                    dass nur im Notwendigsten saniert wurde. Für große Kochaktionen ist alles vorhanden und bei den
                    Hosts erfragbar. Im
                    Garten kann nach Regenfällen und in Absprache mit den Hosts Feuer gemacht und gegrillt werden
                    (ansonsten
                    Brandgefahr!!!!!)
                    .<br><br>

                    Ihr findet hier im Untergeschoss ein einfaches und gemütliches Zuhause mit zwei Räumen und einem
                    Bad. Das Bett im
                    ersten Zimmer ist 2 x 1,60m und im großen Wohnraum / Wohnküche 2 x 1,80m breit. Bettwäsche und
                    Handtücher sind
                    vorhanden.<br><br>

                    Der Garten ist vor allem auch für Familien mit Kindern ein Segen, da hier keine Straße überquert
                    werden muss, um ins
                    Grüne oder in den Wald zu gelangen. Zwei alte Spielhäuser stehen hier noch aus vergangenen Tagen –
                    da haben meine
                    Kinder hier gespielt. Nun warten diese auf neuen Input von Euren Kids :-) 
                    <br><br>
                    Das Toilettenhaus ist voll funktionstüchtig! Euren Hund dürft Ihr gern mitbringen.
                    <br><br>
                    Die untere Ferienwohnung ist für maximal 4 Gäste ausgelegt.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Wichtige Informationen
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Verschärfter Brandschutz!!!</li>
                    <li class="list-group-item">Rauchverbot im Haus!</li>
                    <li class="list-group-item">Lagerfeuer und Grill verboten im Garten!</li>
                    <li class="list-group-item">Im Haus maximal eine Kerze oder ein Teelicht unter Aufsicht auf
                        feuerfester
                        Unterlage oder auf sicherem Ständer!</li>
                    <li class="list-group-item">Keine brennbaren Gegenstände über dem Ofenblech bis zur Decke und 1m vor
                        dem Ofen!
                    </li>
                    <li class="list-group-item">Waldbrandwarnstufe beachten!</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Check-In / Check-Out
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Check-in nach 14:00 Uhr<br>
                    Check-out vor 11:00 Uhr
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Ausstattung
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">meist stabiles Internet</li>
                    <li class="list-group-item">Küche mit Ceranfeld, Kühlschrank, Wasserkocher, Geschirr für 4 Personen
                        (plus
                        Besuch)</li>
                    <li class="list-group-item">Küchenhexe (Kochringe und Backröhre)</li>
                    <li class="list-group-item">Waschmaschine und Trockner</li>
                    <li class="list-group-item">Dusche (mit Warmwasserboiler)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Galerie
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container">
                    <div class="row d-flex justify-content-center">

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/schlosskulm-hauseingang-beschriftet.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/schlosskulm-hauseingang-beschriftet.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Die Eingänge zu den Ferienwohnungen</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-unten/gesamtes-zimmer-1.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/fewo-unten/gesamtes-zimmer-1.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Zwei Schlafgelegenheiten mit angrenzender Küche und Ofen</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-unten/bett-1.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/fewo-unten/bett-1.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Die Schlafgelegenheit im anderen Raum</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/ferienwohnungen/fewo-unten/gesamtes-zimmer-2.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/fewo-unten/gesamtes-zimmer-2.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Zwei Schlafgelegenheiten mit angrenzender Küche</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-unten/bett-2.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/fewo-unten/bett-2.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Übergang vom einen Raum zum anderen</div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/ferienwohnungen/fewo-unten/badezimmer-eingang.jpg"
                                    aria-label="Picture opens in a new window">
                                    <img src="../../static/images/ferienwohnungen/fewo-unten/badezimmer-eingang.jpg"
                                        alt="Cinque Terre">
                                </a>
                                <div class="desc">Eingang zum Badezimmer</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                Preise
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Untere Ferienwohnung</h5>
                                <p class="card-text">
                                    1-2 Personen: <strong>58€ pro Nacht</strong><br>
                                    3 oder mehr Personen: <strong>14€ pro Nacht</strong> und Person<br>
                                    Zusätzlich 50€ für die Endreinigung<br><br>
                                </p>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'booking' %}" class="btn btn-purple border-dark">Buchung</a>
                                    {% else %}
                                    {% include 'login-needed-modal.html' %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Zusätzliche Information</h5>
                                <p class="card-text">
                                    Der Preis für <strong>Kinder,</strong> die 3 Jahre oder älter sind, liegt bei <strong>14€ pro Nacht</strong> (selber Preis wie für Erwachsene).<br>
                                    Zum Tanzfest und Silvester vermieten wir das Haus nur
                                    komplett (obere und untere Ferienwohnung) für max. 15 Personen, max. 5 Tage,
                                    Festpreis 1000€.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<br>

{% endblock %}