{% extends "base.html" %}

{% block title %}Lower Apartment - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>Lower Apartment</h1>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Welcome
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Dear guests,<br><br>
                    welcome to Schloßkulm! Located just at the edge of the forest
                    you can expect a beautiful location full of wild flowers, singing birds, the sound of wind in the
                    trees and nice, welcoming hosts. In the cold months you will have to operate the oven (it is not
                    possible
                    without!) and in summer you can count the stars in the sky.
                    Even though only the foundation of this extended barn tells the story of Schloßkulm it is those old
                    bricks that make
                    this vacational place unique.<br><br>
                    It is worthwhile to even stay for a longer time. The internet is quite stable, there is almost no
                    distraction but a lot of
                    opportunities to make good use of breaks. This is an ideal place to work on your projects or for
                    strategy meetings, as well as
                    recreative familiy trips. You will find a simple and cosy home on two floors.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                The Apartment
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    In the house you can expect a minimalist and rustic configuration: a lot of wood and adobe, a wood
                    oven that
                    needs to be operated in the cold months (the water and heating system is connected to it - there
                    will always be wood provided for you) and
                    original furniture.
                    It is an old house that only has been renovated as to the most important points. You are equipped
                    with most items for bigger
                    cooking adventures - if something is missing you are welcome to approach us. On agreement you can
                    also
                    light a fire and/or do a BBQ in the garden after rainfall (otherwise there is too much of a fire
                    hazard).<br><br>

                    On the basement floor you will find a simple and cozy home with two rooms and a bathroom.
                    The bed in the hallway room is 2 x 1,60m and the one in the living room / kitchen room 2 x 1,80m.
                    Bed linen and towels are provided.<br><br>

                    The garden is perfect for families with kids as you do not have to cross any street to reach the
                    forest and outdoors. Two old wendy houses can be found in the garden - my own children played here
                    when they were younger :) Now they are waiting for new input from your kids ;)<br><br>

                    The toilet house is fully functional. You are welcome to bring your dog(s).<br><br>

                    The lower apartment caters to max. 4 guests.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Important Information
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">High preventive fire protection rules</li>
                    <li class="list-group-item">Smoking inside the house is not allowed</li>
                    <li class="list-group-item">Campfires and BBQs in the garden are not allowed</li>
                    <li class="list-group-item">Inside the house you are allowed max. 1 candle or tea light
                        on a fireproof surface and only under your supervision</li>
                    <li class="list-group-item">Do not place any inflammable items on top of or above the oven, and
                        nothing in range of 1m in front of it
                    </li>
                    <li class="list-group-item">Please pay attention to the local fire threat level</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Check-In / Check-Out
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Check-in after 2pm<br>
                    Check-out before 11am
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Facilities
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Usually a stable internet connection</li>
                    <li class="list-group-item">Kitchen with ceramic hob, fridge, water kettle, tableware for 4 people
                        (plus guests)</li>
                    <li class="list-group-item">Old cooking and baking stove ("Küchenhexe")</li>
                    <li class="list-group-item">Washing machine and dryer</li>
                    <li class="list-group-item">Shower (with storage water heater)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Gallery
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container">
                    <div class="row d-flex justify-content-center">

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/house-entrance-directions.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/house-entrance-directions.jpg"
                                        alt="Entrances to the apartments.">
                                </a>
                                <div class="desc" aria-hidden="true">Entrances to the apartments</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/lower-apartment/room-1.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/lower-apartment/room-1.jpg"
                                        alt="Two separate rooms with a double bed each and adjacent open kitchen and oven.">
                                </a>
                                <div class="desc" aria-hidden="true">Two separate sleeping opportunities with adjacent
                                    open kitchen and oven</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/lower-apartment/bed-1.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/lower-apartment/bed-1.jpg"
                                        alt="Double bed and wardrobe in the hallway room.">
                                </a>
                                <div class="desc" aria-hidden="true">Double bed and wardrobe in the hallway room</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/lower-apartment/room-2.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/lower-apartment/room-2.jpg"
                                        alt="Double bed with adjacent open kitchen and dinner table.">
                                </a>
                                <div class="desc" aria-hidden="true">Double bed with adjacent open kitchen and dinner
                                    table</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/lower-apartment/bed-2.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/lower-apartment/bed-2.jpg"
                                        alt="Passage from one to the other room.">
                                </a>
                                <div class="desc" aria-hidden="true">Passage from one to the other room</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/lower-apartment/bathroom-entrance.jpg"
                                    aria-label="Bild öffnet sich in einem neuen Fenster.">
                                    <img src="../../static/images/apartments/lower-apartment/bathroom-entrance.jpg"
                                        alt="Wooden door to the bathroom.">
                                </a>
                                <div class="desc">Entrance to the bathroom</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                Prices
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Lower Apartment</h5>
                                <p class="card-text">
                                    1-2 persons: <strong>58€ per night</strong><br>
                                    3 or more persons: <strong>14€ per night</strong> and person<br>
                                    Additional 50€ for cleaning<br><br>
                                </p>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'booking' %}" class="btn btn-purple border-dark">Booking</a>
                                    {% else %}
                                    {% include 'login-needed-modal.html' %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Additional Information</h5>
                                <p class="card-text">
                                    Rates for <strong>children</strong> 3 years old or older are <strong>14€ per night</strong> (same pricing as for
                                    adults).<br>
                                    For New Years Eve we are renting out the house in its entirety only (lower and upper
                                    apartment)
                                    for max. 15 persons, max. 5 days, at a fixed rate of 1000€.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<br>

{% endblock %}