{% extends "base.html" %}

{% block title %}Projektarchiv - Schloßkulm Ferienwohnungen{% endblock %}

{% block content %}

<h1>Projektarchiv</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <p class="pt-4">
                Seit 2022 finden in den Sommerferien Workshops für Jugendliche statt. Wir sind dabei ein kleines
                Festival aufzubauen
                und wollen zukünftig weitere Workshops anbieten.
                <br><br>
                Die MOTHEK ist das mobile Bibliotheks-und Ausstellungsprojekt von Anna. Mehr erfahrt ihr unter <a
                    href="https://mothek.de/" target="_blank"
                    aria-label="Besuche unsere Mothek Homepage (Seite öffnet sich in einem neuen Fenster)."
                    noopener>www.mothek.de</a> und auf
                Instagram unter <a href="https://www.instagram.com/mothek104" target="_blank"
                    aria-label="Besuche unsere Mothek Instagram Seite (öffnet sich in einem neuen Fenster)."
                    noopener>@mothek104</a>
                <br><br>
                Wir befinden uns im Aufbau eines Vereines.
                <br><br>
            </p>
        </div>
        <div class="col-sm">
            <ul class="list-group list-group-flush rounded-corners">
                <li class="list-group-item">2022 August MOOS- Party, Konzert und Videoinstallationen</li>
                <li class="list-group-item">2023 Juni Geburtstagsfeier und Konzert auf Festivalwiese</li>
                <li class="list-group-item">2023 August Pizzaofeneinweihung</li>
                <li class="list-group-item">2024 Januar Shibari-Workhop (für Erwachsene)</li>
                <li class="list-group-item">2024 April Programmierworkshop (für Kinder)</li>
                <li class="list-group-item">2024 Juni Brennofenbau</li>
                <li class="list-group-item">2024 Juli Thetaerwoche mit Aufführung und Konzerten</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}