{% extends "base.html" %}

{% block title %}Upper Apartment - Schloßkulm Rental Apartments{% endblock %}

{% block content %}

<h1>Upper Apartment</h1>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Welcome
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Dear guests,<br><br>

                    welcome to our cozy adobe house! Located just at the edge of the forest you can expect a beautiful
                    location
                    full
                    of wild flowers, singing birds, the sound of wind in the trees and nice, welcoming hosts.
                    Even though only the foundation of this extended barn tells the story of Schloßkulm it is those old
                    bricks that make
                    this vacational place unique.<br><br>
                    It is worthwhile to even stay for a longer time. The internet is quite stable, there is almost
                    no
                    distraction but a lot of
                    opportunities to make good use of breaks. This is an ideal place to work on your projects or for
                    strategy meetings, as well as
                    recreative familiy trips. You will find a simple and cosy home on two floors.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                The Apartment
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    In the house you can expect a minimalist and rustic configuration: a lot of wood and adobe, a wood
                    oven that
                    needs to be operated in the cold months (the water and heating system is connected to it) and
                    original furniture.
                    It is an old house that only has been renovated as to the most important points. You are equipped
                    with most items for bigger
                    cooking adventures - if something is missing you are welcome to approach us. On agreement you can
                    also
                    light a fire and/or do a BBQ in the garden after rainfall (otherwise there is too much of a fire
                    hazard).<br><br>

                    To find the entrance to the apartment you will have to go upstairs to the balcony (please do not
                    confuse this with the entrance
                    to the lower apartment). Inside you will find rustic cosiness. The bed in the small room is 2 x
                    1,40m and 2 x 1,60m in the big bedroom.
                    There is also the possibility to lay out additional mattresses. There are blankets, bed linen and
                    towels provided.
                    <br><br>
                    The garden is perfect for families with kids as you do not have to cross any street to reach the
                    forest and outdoors.
                    If you are planning to travel with a dog please book the lower apartment on top.
                    <br><br>
                    The upper apartment caters to max. 11 guests.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Important Information
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">High preventive fire protection rules</li>
                    <li class="list-group-item">Smoking inside the house is not allowed</li>
                    <li class="list-group-item">Campfires and BBQs in the garden are not allowed</li>
                    <li class="list-group-item">Inside the house you are allowed max. 1 candle or tea light
                        on a fireproof surface and only under your supervision</li>
                    <li class="list-group-item">Do not place any inflammable items on top of or above the oven, and
                        nothing in range of 1m in front of it
                    </li>
                    <li class="list-group-item">Please pay attention to the local fire threat level</li>
                </ul>
                <br>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Check-In / Check-Out
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Check-in after 2pm<br>
                    Check-out before 11am
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Facilities
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Usually a stable internet connection</li>
                    <li class="list-group-item">Kitchen with two electric hot plates and a baking oven</li>
                    <li class="list-group-item">Kitchen utensils for a bigger group of people</li>
                    <li class="list-group-item">Water kettle, fridge and dishwasher</li>
                    <li class="list-group-item">Bathroom with bath tub</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Gallery
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container">
                    <div class="row">

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/house-entrance-directions.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/house-entrance-directions.jpg"
                                        alt="The entrances to the apartments.">
                                </a>
                                <div class="desc" aria-hidden="true">The entrances to the apartments</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/bed-under-roof-1.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bed-under-roof-1.jpg"
                                        alt="Double mattrass under the roof with a small window.">
                                </a>
                                <div class="desc">One of the sleeping opportunities just under the roof</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/upper-kitchen-1.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/upper-kitchen-1.jpg"
                                        alt="Massive wooden dinner table with 9 chairs in Gothic furniture style.">
                                </a>
                                <div class="desc" aria-hidden="true">Massive wooden dinner table with 9 chairs in Gothic
                                    furniture style</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/bedroom-1.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bedroom-1.jpg"
                                        alt="Bedroom with double bed and crib.">
                                </a>
                                <div class="desc" aria-hidden="true">Bedroom with double bed and crib</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/livingroom-1.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/livingroom-1.jpg"
                                        alt="Open living room with Gothic furniture and big desk.">
                                </a>
                                <div class="desc" aria-hidden="true">Open living room with Gothic furniture and big desk
                                </div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/workdesk.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/workdesk.jpg"
                                        alt="Big desk under a window with valley view.">
                                </a>
                                <div class="desc">Your workplace for productive hours</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/bathtub.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bathtub.jpg"
                                        alt="Free-standing bath tub below a roof light.">
                                </a>
                                <div class="desc" aria-hidden="true">Relaxation time in the bathtub</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/window-1.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/window-1.jpg"
                                        alt="Small wooden window with garden view.">
                                </a>
                                <div class="desc" aria-hidden="true">Garden view</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/bed-under-roof-2.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bed-under-roof-2.jpg"
                                        alt="Double mattrass under the roof with a small window.">
                                </a>
                                <div class="desc">One of the sleeping opportunities just under the roof</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/upper-kitchen-2.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/upper-kitchen-2.jpg"
                                        alt="Massive wooden dinner table with 9 chairs in Gothic furniture style.">
                                </a>
                                <div class="desc" aria-hidden="true">Massive wooden dinner table with 9 chairs in Gothic
                                    furniture style</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/bedroom-2.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bedroom-2.jpg"
                                        alt="Bedroom with double bed and crib.">
                                </a>
                                <div class="desc" aria-hidden="true">Bedroom with double bed and crib</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/livingroom-2.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/livingroom-2.jpg"
                                        alt="Living room with small table and seating opportunities as well as a work desk.">
                                </a>
                                <div class="desc" aria-hidden="true">Living room with small table and seating
                                    opportunities as well as a work desk</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/bathroom.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bathroom.jpg"
                                        alt="Bathroom with wooden floor, roof slope, bathtub and sink.">
                                </a>
                                <div class="desc" aria-hidden="true">Bathroom</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/bed-under-roof-3.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/bed-under-roof-3.jpg"
                                        alt="Room with roof slopes, 2 beds and 4 swing chairs.">
                                </a>
                                <div class="desc" aria-hidden="true">Room with roof slopes, 2 beds and 4 swing chairs
                                </div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/upper-kitchen-3.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/upper-kitchen-3.jpg"
                                        alt="View of the kitchen unit, dinner table and balcony entrance.">
                                </a>
                                <div class="desc" aria-hidden="true">View of the kitchen unit, dinner table and balcony
                                    entrance
                                </div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/window-2.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/window-2.jpg"
                                        alt="Small wooden window with valley view.">
                                </a>
                                <div class="desc" aria-hidden="true">Landscape view</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank" href="../../static/images/apartments/upper-apartment/stairs.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/stairs.jpg"
                                        alt="Wooden stairs with intermediate level and window view.">
                                </a>
                                <div class="desc">Staircase leading up to the bedrooms</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/livingroom-3.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/livingroom-3.jpg"
                                        alt="View from the living room to the open kitchen area, sofa and fireplace.">
                                </a>
                                <div class="desc" aria-hidden="true">Living room with fireplace and entrance to kitchen
                                    area</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/upper-kitchen-4.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/upper-kitchen-4.jpg"
                                        alt="View of the kitchen unit, dinner table and storage water heater.">
                                </a>
                                <div class="desc" aria-hidden="true">View of the kitchen unit, dinner table and storage
                                    water heater</div>
                            </div>
                        </div>

                        <div class="col-sm d-flex justify-content-center">
                            <div class="gallery">
                                <a target="_blank"
                                    href="../../static/images/apartments/upper-apartment/upper-kitchen-5.jpg"
                                    aria-label="The picture opens in a new window.">
                                    <img src="../../static/images/apartments/upper-apartment/upper-kitchen-5.jpg"
                                        alt="Kitchen unit with ceramic hob and oven.">
                                </a>
                                <div class="desc" aria-hidden="true">Kitchen unit with ceramic hob and oven</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                Prices
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body container">
                <div class="row d-flex justify-content-center">

                    <div class="col-sm-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Upper Apartment</h5>
                                <p class="card-text">
                                    1-2 persons: <strong>72€ per night</strong><br>
                                    3 or more persons: <strong>14€ per night</strong> and person<br>
                                    Additional 50€ for cleaning<br><br>
                                </p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'booking' %}" class="btn btn-purple border-dark">Booking</a>
                                {% else %}
                                {% include 'login-needed-modal.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Additional Information</h5>
                                <p class="card-text">
                                    Rates for children 3 years old or older are <strong>14€ per night</strong> (same
                                    pricing as for
                                    adults).<br>
                                    For New Years Eve we are renting out the house in its entirety only (lower and upper
                                    apartment)
                                    for max. 15 persons, max. 5 days, at a fixed rate of 1000€.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}