<!-- Confirm Modal template - triggers confirm booking functionality -->
 
<!-- Button that triggers modal -->
<button type="button" class="btn btn-card-confirm border-dark" data-bs-toggle="modal" data-bs-target="#{{ booking.id }}-confirmModal">
  Bestätigen
</button>

<!-- Modal -->
<div class="modal fade" id="{{ booking.id }}-confirmModal" tabindex="-1" aria-labelledby="{{ booking.id }}-confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ booking.id }}-confirmModalLabel">Buchungsbestätigung</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bist du dir sicher, dass du die Buchung bestätigen möchtest?<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-card-confirm border-dark" data-bs-dismiss="modal">Fenster schließen</button>
        <button data-booking_id="{{ booking.id }}" class="btn btn-card-confirm border-dark confirm-button">Buchung bestätigen</button>
      </div>
    </div>
  </div>
</div>