<!-- Modal template - triggers delete booking functionality -->
 
<!-- Button that triggers modal -->
<button type="button" class="btn btn-card-delete border-dark" data-bs-toggle="modal" data-bs-target="#{{ booking.id }}-deleteModal">
    Löschen
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="{{ booking.id }}-deleteModal" tabindex="-1" aria-labelledby="{{ booking.id }}-deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ booking.id }}-deleteModalLabel">Löschen der Buchung</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bist du dir sicher, dass du die Buchung löschen möchtest?<br>
          Diese Handlung kann nicht rückgängig gemacht werden.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-card-confirm border-dark" data-bs-dismiss="modal">Fenster schließen</button>
          <button data-booking_id="{{ booking.id }}" class="btn btn-card-delete border-dark delete-button">Buchung löschen</button>
        </div>
      </div>
    </div>
  </div>