<!-- Modal -->
<div class="modal fade" id="notAuthorizedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="notAuthorizedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="notAuthorizedModalLabel">Zugriff verweigert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Du hast nicht die Berechtigung, auf diese Seite zuzugreifen!
            </div>
            <div class="modal-footer">
                <a href="{% url 'start-seite' %}">
                    <button type="button" class="btn btn-purple border-dark">
                        Okay
                    </button>
                </a></button>
            </div>
        </div>
    </div>
</div>