<!-- Modal -->
<div class="modal fade" id="notAuthorizedModal" tabindex="-1" aria-labelledby="notAuthorizedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="notAuthorizedModalLabel">Access denied</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You are not authorized to access this page!
            </div>
            <div class="modal-footer">
                <a href="{% url 'main-page' %}">
                    <button type="button" class="btn btn-purple border-dark">
                        Okay
                    </button>
                </a></button>
            </div>
        </div>
    </div>
</div>